.home-container {
  padding: 5px 30px;
}

.slider-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: #989898;
}

.slider-item-image {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
}

.slider-item-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  color: #262626;
  margin: 5px 0;
  width: 100%;
  overflow: hidden;
}

.break-line {
  margin: 0;
}

.posts-card {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.posts-empty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 20px;
}

.posts-empty-image {
  width: 30%;
  margin: 0 0 20px 0;
}

.posts-empty-heading {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  color: #262626;
  margin: 0 0 10px 0;
}

.posts-empty-description {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #262626;
  margin: 0 0 10px 0;
}

@media screen and (min-width: 768px) {
  .home-container {
    padding: 5px 40px;
  }

  .posts-card {
    padding: 15px 0;
  }

  .posts-empty-heading {
    font-size: 32px;
  }

  .posts-empty-description {
    font-size: 20px;
  }
}
