.header-container {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.header-card-lg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-card {
  display: flex;
  align-items: center;
}

.header-website-logo {
  width: 60px;
}

.header-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #262626;
  margin: 0;
  padding: 0 10px;
}

.header-menu-button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #262626;
}

.header-nav-link-card {
  display: none;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav-link-item {
  margin: 0 10px;
}

.search-card {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 5px 10px;
}

.header-search {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  width: 80%;
}

.header-nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  text-decoration: none;
}

.header-nav-link-active {
  color: #4094ef;
}

.logout-button {
  background-color: #4094ef;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 5px 10px;
}

.nav-link-card {
  display: none;
  align-items: center;
  justify-content: space-around;
  padding: 10px 30px;
  margin: 0;
  list-style: none;
}

.nav-link-card-active {
  display: flex;
}

.nav-link-item {
  margin: 0 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
}

.nav-link {
  text-decoration: none;
  color: #262626;
}

.nav-link-active {
  color: #4094ef;
}

.close-button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 4px 0 0 0;
}

.search-bar {
  display: none;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #262626;
  border-radius: 5px;
  margin: 10px auto;
  padding: 3px 10px;
  width: 55%;
  flex-grow: 1;
}

.search-bar-active {
  display: flex;
}

.search-button {
  outline: none;
  background-color: transparent;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
}

.search-button-icon {
  outline: none;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 992px) {
  .header-container {
    padding: 25px 40px;
  }

  .header-website-logo {
    width: 70px;
  }

  .header-heading {
    font-size: 20px;
  }

  .header-menu-button {
    display: none;
  }

  .header-nav-link-card {
    display: flex;
  }

  .nav-link-card {
    display: none;
  }

  .search-bar {
    display: none;
  }
}
